/***** BASE STYLES *****/
html, body {  /* should be set to make % sizes work correctly */
    height:100%;
}

body{
  background-color: #EAEFEE;
  font-family: 'Lato', sans-serif;
}

p {
  color: #253449;
  line-height: 1.4;
}

h2 {
  color: #253449;
}

h1 {
  color: #EAEFEE;
  font-size: calc(60px +0.5vw)
}

/***** GRID *****/

.full-width {
  margin: 0 auto;
  width: 100%;
}

.half-width {
  float: left;
  width: 50%;
}

.third-width {
  float: left;
  width: 33%;
}

.two-third-width {
  float: left;
  width: 66%;
}

.button {
  color: #EAEFEE;
  width: 150px;
  height: 5vh;
  border: 0px;
  margin: 10px;
  text-transform: uppercase;
}

.button.first_level_button {
  background: #3FB5AD;
}

.button.second_level_button {
  background: #EEA231;
}

/***** HEADER *****/

header {
  height: 10vh;
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%; /* to make the nav bar wisth the whole screen */
}

nav {
  float: right;
  padding-top: 20px;
  padding-right: 5vw; /* to have a larger distance between screen border and nav bar*/
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #253449;
  text-decoration: none; /* so that text/links doesn't have an underline */
  font-size: calc(10px + 0.5vw); /* responsive text size with min font size 15x */
  padding-left: 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

header #logo {
  margin: 0px;
  border: 0px;
  padding-left: 50px;
  height: 10vh;
}


/***** STARTPAGE *****/

#landingpage {
  background: url('../img/landingpage_background.png') no-repeat center center fixed;
  background-size:  cover;
  height: 90vh; /* vh = viewport height = 100% :) to make the section 100% window height // together with navbar (10vh) and landingpage ociture (90vh)= 100vh*/
}

#landingpage {
  position: relative;
  border: 1px solid transparent;
}

#landingpage img {
  position: absolute;
  top: 10vh;
  left: 35vw; /* centering image -> left + image size (width) = 100vw */
  width: 30vw; /* image width */
  height: auto;
  min-width: 300px; /* image will have that min width*/
}

#landingpage_userengagement {
  color: #EAEFEE;
  position: absolute;
  text-align: center;
  bottom: 10vh;
  width: 100%;
}

/*********** FOOTER ******/

#chamaeleon_footer {
 width: 120px;
}
